/node_modules
/admin-frontend/node_modules
/admin-frontend/build
/client-webapp/build
/client-webapp/node_modules
/server/static/videos
/server/static/admin-frontend
/server/static/client-webapp
/remote-video-handler.tar
/.env
/cert/server.crt
/cert/server.key
