body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden; /* Nasconde le barre di scorrimento */
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
  transition: opacity 0.5s ease-in-out; /* Transizione per l'opacità */
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative; /* Per posizionare il video e l'overlay */
  width: 100%;
  height: 100%;
}

.fullscreen-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assicura che il video copra l'intera area */
  z-index: 0;
}

.overlay-info {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.8em;
  z-index: 1; /* Sopra il video */
  text-align: left;
}

.overlay-info p {
  margin: 5px 0;
}

/* Stili per il pulsante fullscreen, se decidessi di renderlo visibile */
.overlay-info button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Nuovi stili per la schermata di input del nome */
.name-input-screen {
    background-color: #20232a; /* Sfondo leggermente più scuro */
}

.name-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.name-input-container h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #61dafb;
}

.name-input-container input[type="text"] {
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 1em;
    width: 250px;
    background-color: #444;
    color: white;
    outline: none;
}

.name-input-container input[type="text"]::placeholder {
    color: #aaa;
}

.name-input-container button {
    background-color: #61dafb;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.name-input-container button:hover {
    background-color: #4fa3d1;
}